<!doctype html>
<html>
  <head>
    <title>Sudoku Online</title>

    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/generate.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/generate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://dl.dropboxusercontent.com/u/18927314/favicon2.ico">
    <style> html, body { height:90%; }</style>

  </head>

  <body>
    <div class="container">
      <div class="message">
          Welcome to Sudoku beta! Let us know if you find any bugs! --   dzd123 and hsteven
      </div>
    </div>

    <br><br>
    <div class="container">
      <div class="col-md-6">
        <table id="game-view">
        </table>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
          </div>
          <div class="panel-body">
            <div class="scroll-table">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Color</th>
                    <th>Username</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody id="player-list">

                </tbody>
              </table>
            </div>
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" action="" id="username" placeholder="Username">
                <button type="submit" id="generate" style="outline:none" class="btn btn-primary">Generate!</button>
                <button type="submit" id="hide-one" style="outline:none" class="btn btn-primary">Hide One</button>                <button type="submit" id="unhide-one" style="outline:none" class="btn btn-primary">Unhide One</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>