<!doctype html>
<html>
  <head>
    <title>Sudoku Online</title>

    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script src="javascripts/generate.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/generate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://dl.dropboxusercontent.com/u/18927314/favicon2.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style> html, body { height:90%; }</style>

  </head>

  <body>
    <div class="container">
      <div class="message">
          Welcome to Sudoku beta! Let us know if you find any bugs! --   dzd123 and hsteven
      </div>
    </div>

    <br><br>
    <div class="container">
      <div class="col-md-6">
        <table id="game-view">
        </table>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Customize Game</h3>
          </div>
          <div class="panel-body">
            <button type="submit" id="generate" style="outline:none" class="btn btn-primary">Generate!</button>
            <button type="submit" id="save-puzzle" style="outline:none" class="btn btn-primary">Create Game</button>
            <div>Easy: 36. Medium: 30. Hard: 27. Evil: 25</div>
            <div>Difficulty: <span id="difficulty"></span></div>
            <div>Target difficulty: <span id="slider-amount"></span></div>
            <div id="slider" style="outline:none;width:97%;margin-top:5px"></div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>