body{
  font:14px "Lucida Grande" sans-serif;
}

.hidden {
  display: none;
}

.cell{
  width:50px;
  height:50px;
  margin:0px;
}

#game-view{
  margin:0 auto;
}

.message{
  max-width:95%;
  margin:auto;
  border-radius:5px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#dff0d8;
  border:1px solid;
  border-color:#d6e9c6;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  color:#468847;
}

.cell{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

.cell-input{
  background-color:transparent;
  font-size:10pt;
  border:none;
  resize:none;
  outline:none;
  text-align:center;
  width:100%;
  height:100%;
}

.cell-output{
  background-color:transparent;
  font-size:20pt;
  font-weight:bold;
  text-align:center;
  width:100%;
  height:100%;
}

.player-me{
  font-weight:bold;
}

.offline{
  font-style:italic;
}